autom4te.cache/
Makefile
config.log
config.status
*.desktop
libtool
po/.intltool-merge-cache
po/POTFILES
po/*.gmo
po/stamp-it
po/Makefile.in
src/.deps/
src/*/.deps/
src/*/.dirstamp
src/spacefm
src/xml-purge
*.o

##cmake
CMakeCache.txt
CMakeFiles/
CMakeLists.txt
cmake-build-debug/
cmake/
cmake_install.cmake
data/CMakeFiles/
data/cmake_install.cmake
etc/CMakeFiles/
etc/cmake_install.cmake
src/CMakeFiles/
src/CMakeLists.txt
src/cmake_install.cmake
src/desktop/CMakeFiles/
src/desktop/CMakeLists.txt
src/desktop/cmake_install.cmake
src/exo/CMakeFiles/
src/exo/CMakeLists.txt
src/exo/cmake_install.cmake
src/mime-type/CMakeFiles/
src/mime-type/CMakeLists.txt
src/mime-type/cmake_install.cmake
src/ptk/CMakeFiles/
src/ptk/CMakeLists.txt
src/ptk/cmake_install.cmake
src/vfs/CMakeFiles/
src/vfs/CMakeLists.txt
src/vfs/cmake_install.cmake

##test
conf2.sh
conf3.sh

##other
TODO
notes.txt

